*{
    margin-top: 10px;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: 80px;
}

.upper-container {
    width: 60%;
    height: 50px;
    left: 10px;
    top: 45px;
    margin: 45px auto;
    position: relative;
    display: flex;
    border: 1px solid black;
}

.upper-container1 {
    width: 35%;
    height: 100%;
    padding-top: 20px;
}

#tasks{
    font-weight: bold;
    font-size: 1.5rem;
    margin-left: 80px;
    margin-top: 50px;
    position: relative;
}

#lists{
    font-size: 1.5rem;
    margin-left: 0px;
    opacity: 0.6;
    color: #0080ff;
    font-weight: bold;
}


.upper-container2{
    width: 30%;
    height: 100%;
    padding-top: 20px;
    position: absolute;
    top: 40px;
    right: 0;
}

#addnewlist{
    position: absolute;
    /* width: 80%;
    height: 100%; */
    top: 20px;
    right: 0;   
    font-size: 18px;
    opacity: 0.5;
    padding-top: 15px;
}

.card1{
    border: 1px solid gainsboro;
    height: 35vh;
    position: relative;
    border-radius: 8px;
    margin: 5px;
    left: 30px;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 32%;
    text-align: center;
    margin-top: 20px;
}

.card2{
    border: 1px solid gainsboro;
    height: 35vh;
    position: relative;
    border-radius: 8px;
    margin: 5px;
    left: 45px;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 32%;
    text-align: center;
    margin-top: 20px;
}

.card3{
    border: 1px solid gainsboro;
    height: 35vh;
    position: relative;
    border-radius: 8px;
    margin: auto;
    left: 60px;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 32%;
    text-align: center;
    margin-top: 20px;
}

.card4{
    border: 1px solid gainsboro;
    height: 35vh;
    position: relative;
    border-radius: 8px;
    margin: auto;
    left: -20px;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 32%;
    text-align: center;
    margin-top: 20px;
}

.card5{
    border: 1px solid gainsboro;
    height: 35vh;
    position: relative;
    border-radius: 8px;
    margin: auto;
    left: -105px;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 32%;
    text-align: center;
    margin-top: 20px;
}

.div1{
    position: relative;
    top: 15px;
    right: 0;
    left: 10px;
    font-size: 12px;
    width: 85%;
    text-align: left;
    height: 15%;
    color:#00bfff;
    border-bottom: 1px solid black;
    font-weight: bold;
}

.div2{
    width: 90%;
    height: 10%;
    font-size: 10px;
    color: gray;
    text-align: left;
    position: absolute;
    top: 35%;
    left: 0px;
    font-weight: bold;
    text-decoration: line-through;
}

.div3{
    width: 90%;
    height: 10%;
    position: absolute;
    top: 52%;
    left: 0;
    text-align: left;
    font-size: 10px;
    font-weight: bold;
}

#check{
    size: 20px;
    height: 12px;
    margin-left: 10px;
}

.lower{
    margin: 85.5px;
    width: 70%;
    height: 10%;
    display: flex;
    flex-wrap: wrap;    
	padding: 2%;
	background-color:white;
    justify-content:space-between;
}

.down{
    width: 60%;
    height: 10%;
    margin: 20px auto;
    left: 10px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    box-shadow: 1px 1px 20px rgb(186, 180, 180) inset;
}

.notshow{
    filter: blur(1px);
    -webkit-filter:transparent(1px);
    background-color: #00000000;
}

.pop-up{
    position: absolute;
    left: 35%;
    top: 45%;
    height: 35vh;
    width: 30%;
    border-radius: 10px;
    color: black;
    font-size: 16px;
    background-color: white;
    box-shadow: 3px 3px 10px gray;
    padding: 25px;
    text-decoration:underline;
}

.add-new{
    opacity: 0.7;
    font-size: 15px;
}

#circle{
    margin-top: -2px;
    margin-left: -12px;
    
}

#close{
    margin-top: -80px;
    margin-left: 280px;
}

.pop-upbar{
    margin-top: 15px;
    width: 100%;
    height: 10%;
    border: 1px solid gray;
    background-color: ghostwhite;
}

.pop-up-button{
    width: 25%;
    height: 35px;
    margin-top: 15px;
    color: white;
    background-color:#00bfff;
    border-radius: 5px;
    border: 5px;
    position: absolute;
    left: 230px;
    font-size: 15px;
}

.div4{
    position: relative;
    top: 15px;
    right: 0;
    font-size: 25px;
    width: 85%;
    text-align: center;
    height: 15%;
    color:#00bfff;
    border-bottom: 1px solid black;
}

.pop-up-1{
    position: absolute;
    left: 37%;
    top: 150%;
    height: 28vh;
    width: 27%;
    border-radius: 10px;
    color: black;
    font-size: 18px;
    background-color: white;
    box-shadow: 3px 3px 10px gray;
    padding: 25px;
    text-decoration:underline;
}