*{
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: 80px;
}

.upper-container {
    width: 60%;
    height: 50px;
    left: 10px;
    top: 45px;
    margin: 45px auto;
    position: relative;
    display: flex;
    border: 1px solid black;
}

.upper-container1 {
    width: 35%;
    height: 100%;
    padding-top: 20px;
}

#tasks{
    font-weight: bold;
    font-size: 1.5rem;
    margin-left: 80px;
    margin-top: 20%;
}

#lists{
    font-size: 1.5rem;
    margin-left: -10px;
    opacity: 0.6;
    color: #0080ff;
    font-weight: bold;
}

.upper-container2{
    width: 30%;
    height: 100%;
    padding-top: 20px;
    position: absolute;
    top: 40px;
    right: 0;
}

#addnewlist{
    position: absolute;
    width: 80%;
    top: 38px;
    right: 45%;   
    font-size: 14px;
    opacity: 0.5;
    padding-top: 15px;
}

#back{
    position: absolute;
    width: 80%;
    height: 100%;
    top: 35px;
    right: 175%;   
    font-size: 14px;
    opacity: 0.5;
    padding-top: 15px;
}

#circle{
    margin-top: -55px;
    margin-left: -125px;
    
}

#circle-left{
    margin-top: 25px;
    margin-left: -395px;
}

.card1{
    border: 1px solid gainsboro;
    height: 35vh;
    position: relative;
    border-radius: 8px;
    margin: 5px;
    left: 13%;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 75%;
    text-align: center;
    margin-top: 20px;
}

.div1{
    position: relative;
    top: 15px;
    right: 0;
    left: 10px;
    font-size: 15px;
    width: 85%;
    text-align: center;
    height: 15%;
    color:#00bfff;
    border-bottom: 1px solid black;
    font-weight: bold;
}

.div2{
    width: 90%;
    height: 10%;
    font-size: 15px;
    color: gray;
    text-align: left;
    position: absolute;
    top: 35%;
    left: 0px;
    font-weight: bold;
    text-decoration: line-through;
}

.div3{
    width: 90%;
    height: 10%;
    position: absolute;
    top: 52%;
    left: -10px;
    text-align: left;
    font-size: 15px;
    font-weight: bold;
}

#check{
    size: 20px;
    height: 12px;
    margin-left: 10px;
}

.lower{
    margin: 85.5px;
    width: 70%;
    height: 10%;
    display: flex;
    flex-wrap: wrap;    
	padding: 2%;
	background-color:white;
    justify-content:space-between;
}

.down{
    width: 60%;
    height: 2%;
    margin: 20px auto;
    margin-left: 20.7%;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    box-shadow: 1px 1px 20px rgb(186, 180, 180) inset;

}